MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example
MONGO_PORT=27017
ME_PORT=8001
ME_CONFIG_BASICAUTH_ENABLED=true
ME_CONFIG_BASICAUTH_USERNAME=exampleuser
ME_CONFIG_BASICAUTH_PASSWORD=examplepass

# Put in github REPOSITORY secrets
EXPO_PUBLIC_API_PORT=3000
EXPO_PUBLIC_API_URL="127.0.0.1"

# Put in github REPOSITORY secrets as well
CI_RELEASE_KEY_ALIAS=your-release-key
CI_RELEASE_KEY_PASSWORD=<strong-password>
CI_RELEASE_KEYSTORE=your-release-key.jks
CI_RELEASE_KEYSTORE_PASSWORD=<strong-password>