MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example
MONGO_PORT=27017
ME_PORT=8001
ME_CONFIG_BASICAUTH_ENABLED=true
ME_CONFIG_BASICAUTH_USERNAME=exampleuser
ME_CONFIG_BASICAUTH_PASSWORD=examplepass
API_PORT=3000